body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient(to bottom right, #7BAFD4 30%, #13294B);
    color: #000000;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 700px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-family: bold;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #FFFFFF;
    width: 0;
    animation: typing 4s steps(20) forwards, blink-caret 0.75s step-end infinite;
}

p {
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #005582;
    border: none;
    cursor: pointer;
    border-radius: 25px 10px 0 0;
    margin: 0 10px;
    transition: box-shadow 0.3s ease;
}

button:hover {
    background-color: #E6E6E6;
    box-shadow: 0 4px 20px rgba(0, 91, 179, 0.5);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FFFFFF; }
}

.background-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.dot {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.resizable-image {
    width: 50px;
    height: 40px;
    position: absolute;
    top: -4px;
    right: 20px;
    border-radius: 50%;
}
